POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=12345
POSTGRES_DB=forum_db

REDIS_HOST=localhost
REDIS_PORT=6379
SESSION_SECRET=blablabla
SESSION_EXPIRE_SECONDS=2592000
